* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

a,
li {
   text-decoration: none;
   list-style: none;
}

html {
   font-size: 62.5%;
}

@font-face {
   font-family: open-sans-r;
   src: url("../fonts/OpenSans-Regular.woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: open sans-b;
   src: url("../fonts/OpenSans-Bold.woff");
   font-weight: bold;
   font-style: normal;
}

/*    Popup крестик закрытия */

.popup__close {
   width: 18px;
   height: 18px;
   font-size: 16px;
   position: absolute;
   top: -1.5em;
   right: 0;
   background-color: transparent;
   border: none;
   padding: 0;
   text-indent: -9999px;
   cursor: pointer;
}

.popup__close:before,
.popup__close:after {
   width: 1.4em;
   height: 0.2em;
   content: "";
   background-color: #ffffff;
   border-radius: 5px;
   position: absolute;
   top: 50%;
   left: 50%;
}

.popup__close:before {
   transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
   transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-hidden {
   visibility: hidden;
}

/*----     Основное окно            ----*/
.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
   padding-top: 54px;
   overflow-y: auto;
}

.popup__container {
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup-content {
   max-width: 390px;
   position: relative;
   background-color: #ffffff;
   padding: 0 30px 0 30px;
}


/*--- Ваш фидбек  ---*/

.feedback-header {
   margin-top: 47px;
   margin-bottom: 23px;
}

.feedback-title {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 2rem;
   text-align: center;
   text-transform: uppercase;
}

.feedback-title::after {
   content: "";
   display: block;
   width: 66px;
   height: 3px;
   background: #b59f5b;
   margin: 12px auto 0 auto;
   opacity: 0.4;
}

/* ---- Посещение сайта ----*/

.select-title {
   font-size: 13px;
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
}

.select {
   display: block;
   width: 100%;
   height: 48px;
   background-image: url("../svg/form-arrows.svg");
   background-repeat: no-repeat;
   background-position: right 12px center;
   background-size: 10px;
   padding-left: 19px;
   padding-right: 25px;
   margin-bottom: 32px;
   margin-top: 10px;
   border: 1px solid #cbd1d4;
   background-color: #f9f9f9;
   font-size: 13px;
   font-family: open-sans-r, sans-serif;
   color: #333333;
   appearance: none;
   opacity: 0.541;
}

:focus {
   outline: 0;
   outline-offset: 0;
}

.select:focus {
   background-color: #f4f7f6;
   border: 1px solid #b59f5b;
}

/* ----                EMAIL         -----   */

.email-text {
   display: block;
   margin-bottom: 4px;
   font-family: open-sans-r, sans-serif;
   font-size: 13px;
}

.radio-group {
   margin-right: 8px;
}

.form-group__email {
   font-size: 20px;
   color: #000000;
   font-weight: 400;
   margin-bottom: 28px;
}

.radio-group-text {
   font-family: open-sans-r, sans-serif;
   font-size: 13px;
   font-weight: normal;
}

.radio:checked+.radio-group-text::before {
   background-image: url("../svg/form-circle.svg");
}

.radio-group-text::before {
   content: "";
   display: inline-block;
   background-image: url("../svg/form-empty-circle.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 17px;
   width: 17px;
   height: 17px;
   margin-right: 7px;
}

.radio {
   position: absolute;
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
}

/*------------           textarea --------- */

.textarea-form {
   width: 100%;
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 11px 20px;
   resize: none;
   min-height: 130px;
   border: none;
   background-color: #f4f7f6;
}

.textarea-form:focus {
   background-color: #f4f7f6;
   border: 2px solid #b59f5b;
}

.textarea-text {
   display: block;
   margin-bottom: 11px;
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 1.2;
}

/*-----                    button  ---------*/

.button {
   font-size: 14px;
   font-family: open sans-b, sans-serif;
   line-height: 50px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 700;
   background: #b59f5b;
   border: none;
   width: 100%;
   margin-top: 21px;
   margin-bottom: 55px;
}

.button:hover {
   background-color: #323232;
}

/*---- Основная страница -*/
.container {
   max-width: 1200px;
   margin: auto;
}


.header {
   background-image: url("../images/banner-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
   padding: 28px 0 128px 0;
   margin-bottom: 59px;
}

.header::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.6;
   z-index: -1;
}

.menu {
   margin-left: 15px;
   margin-right: 15px;
}

.menu,
.logo-link {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu__button {
   width: 1.4em;
   height: 1em;
   border: none;
   padding: 0;
   background-color: transparent;
   font-size: 25px;
   position: relative;
   text-indent: -9999px;
   cursor: pointer;
}

.menu__button-label {
   width: 100%;
   height: 20%;
   margin-top: -0.1em;
   border-radius: 5px;
   background-color: #ffffff;
   position: absolute;
   left: 0;
   top: 50%;
}

.menu__button:before {
   top: 0;
}

.menu__button:after {
   bottom: 0;
}

.menu__button:before,
.menu__button:after {
   content: "";
   width: 100%;
   height: 20%;
   border-radius: 5px;
   background-color: #ffffff;
   position: absolute;
   left: 0;
}

.menu-list-item {
   display: inline-block;
}

.menu-list-item:nth-child(n+2) {
   margin-left: 36px;
}

.menu-list-item:hover {
   text-decoration: underline;
   color: #ffffff;
}

.menu-link {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   color: #ffffff;
   text-transform: uppercase;
}

.welcome-title {
   font-family: open sans-b, Arial, sans-serif;
   font-size: 4.5rem;
   line-height: 1.6;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
   max-width: 700px;
   padding-top: 110px;
   margin: 0 auto;
}

/*               -----Trends------- */

.top {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 2rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 28px;
}

.top::after {
   content: '';
   display: block;
   width: 66px;
   height: 3px;
   background: #b59f5b;
   margin: 12px auto 0 auto;
   opacity: 0.4;
}

.trends {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 65px;
}

.trend {
   width: calc(25% - 3px);
   min-height: 320px;
   align-items: flex-end;
   display: flex;
   margin-top: 3px;
}

.trend-text {
   border: 3px solid #b59f5b;
   margin: 0 23px 16px 20px;
   padding: 38px 20px 38px 33px;
}

.trend-teg {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 16px;
}

.trend-teg-item {
   margin-right: 20px;
}

.trend-teg-item:hover {
   text-decoration: underline;
   color: #b59f5b;
}

.trend-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   color: #b59f5b;
   text-transform: uppercase;
   font-size: 14px;
}

.trend-link-name {
   font-size: 2rem;
   line-height: 24px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: bold;
   font-family: open sans-b, sans-serif;
}

.trend-link-name:hover {
   color: #b59f5b;
}

.garden {
   background-image: url("../images/trend1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
}

.cheese {
   background-image: url("../images/trend2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
}

.travel {
   background-image: url("../images/trend3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
}

.lemons {
   background-image: url("../images/trend4.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 0;
}

.trend::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.6;
   z-index: -1;
}

/*                ------PAGE------ */

.page-inner {
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

.main {
   width: 778px;
   margin-left: 15px;
}

.preview,
.new-posts-box {
   display: flex;
}

.preview:nth-child(n+2) {
   margin-top: 60px;
}

.preview-img,
.new-posts-img {
   display: block;
}

.preview-text {
   margin-left: 30px;
}

.preview-teg {
   display: flex;
   margin-bottom: 6px;
   flex-wrap: wrap;
}

.preview-teg-item {
   margin-right: 13px;
}

.preview-teg-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   color: #b59f5b;
   text-transform: uppercase;
   font-size: 14px;
}

.preview-teg-link:hover {
   text-decoration: underline;
}

.preview-name {
   margin-bottom: 21px;
}

.preview-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   color: #0f0d0e;
   text-transform: uppercase;
   font-size: 2rem;
   line-height: 1.3;
}

.preview-link:hover {
   color: #b59f5b;
}

.preview-meta {
   margin-bottom: 43px;
}

.date {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #888888;
   font-size: 12px;
}

.user-text {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   color: #000000;
   font-size: 12px;
   margin-left: 5px;

}

.text:nth-child(n+2) {
   margin-top: 10px;
}

.text {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 24px;
}

/* ---------------Aside------- */

.aside {
   width: 272px;
   margin-right: 15px;
   flex-shrink: 0;
}

.new-post {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 14px;
   text-align: center;
   text-transform: uppercase;
}

.new-post::after {
   content: '';
   display: block;
   width: 66px;
   height: 3px;
   background: #b59f5b;
   margin: 12px auto 0 auto;
   opacity: 0.4;
}

.new-posts-boxs {
   margin-top: 26px;
}

.new-posts-box:nth-child(n+2) {
   margin-top: 23px;
}

.new-posts-meta {
   margin-left: 20px;
   line-height: 16px;
}

.date-news {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   color: #000000;
   opacity: 0.53;
}

.new-posts-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 14px;
   line-height: 1.3;
   text-transform: uppercase;
   color: #000000;
}

.new-posts-link:hover {
   color: #b59f5b;
}

/*==========SEARCH, MAILING==========*/

.search {
   margin-top: 60px;
   display: flex;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.search-group {
   width: 100%;
}


.search-button {
   border: none;
   width: 47px;
   background-image: url("../svg/search.svg");
   background-repeat: no-repeat;
   background-size: 18px;
   background-position: center center;
   background-color: #b59f5b;
   cursor: pointer;
}

.search-button:hover {
   background-color: #000000;
}

.search-field {
   padding-left: 18px;
   padding-right: 18px;
   width: 100%;
   height: 47px;
   font-size: 13px;
   border: none;
   background-color: #f4f7f6;
}

.search-field:focus {
   outline: none;
   border: 1px solid #b59f5b;
}

.search-field::placeholder {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   opacity: 0.54;
}

.subscribe {
   margin-top: 56px;
}

.mailing-field {
   box-sizing: border-box;
   padding-left: 18px;
   padding-right: 18px;
   background-color: #f4f7f6;
   width: 100%;
   height: 48px;
   border: none;
   margin-top: 24px;
}

.mailing-field:focus {
   outline: none;
   border: 1px solid #b59f5b;
}

.mailing-field::placeholder {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   opacity: 0.54;
}

.mailing-button {
   background-color: #b59f5b;
   width: 100%;
   border: none;
   height: 48px;
   margin-top: 17px;
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
}

.mailing-button:hover {
   background-color: #323232;
}


/* ------------------tegs------------- */
.tegs {
   margin-top: 51px;
}

.tags-items {
   margin-top: 24px;
}

.list-tegs {
   display: flex;
   flex-wrap: wrap;
}

.list-tegs-item {
   margin-bottom: 6px;
   margin-right: 12px;
   border: 3px solid #eeeeee;
   padding: 2px 10px;
}

.list-tegs-item:hover {
   border: 3px solid #b59f5b;
}

.list-tegs-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   color: #0f0d0e;
   font-size: 12px;
}

/* ----------------themes----------- */

.themes {
   margin-top: 52px;
}

.themes-items {
   margin-top: 19px;
}

.item-themes:nth-child(n+2) {
   margin-top: 17px;
}

.item-themes::after {
   content: "";
   display: block;
   margin-top: 10px;
   width: 100%;
   height: 1px;
   background: #eeeeee;
}

.list-themes-link {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: #000000;
}

.list-themes-link:hover {
   color: #b59f5b;
}

.list-themes-number {
   color: #b59f5b;
   vertical-align: top;
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 12px;
}

/* -----------------Shop ------------*/
/*      Наши изделия            */

.products {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 2rem;
   text-align: center;
   text-transform: uppercase;
   margin-top: 62px;
}

.products::after {
   content: '';
   display: block;
   width: 66px;
   height: 3px;
   background: #b59f5b;
   margin: 8px auto 0 auto;
   opacity: 0.4;
}

/* Секция с товарами   */

.shop {
   display: flex;
   flex-wrap: wrap;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   justify-content: space-between;
}

.shop-product {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 347px;
   margin-top: 30px;
}

.product-body {
   flex-grow: 1;
   padding: 45px 22px 23px 20px;
   border: 3px solid #b59f5b;
}

.box-img {
   height: 208px;
   margin-bottom: -34px;
}

/*  Основной текст   */
.product-title {
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 2rem;
   text-transform: uppercase;
   color: #0f0d0e;
}

.product-desc {
   font-family: open-sans-r, sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 23px;
}


.product-desc a {
   color: #b59f5b;
}

.product-desc a:hover {
   text-decoration: underline;
}

/* Цена и кнопка   */

.product-footer {
   padding-top: 16px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
}

.product-prices {
   display: block;
}


.product-price {
   display: flex;
   font-size: 20px;
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
}

.product-price_old {
   text-decoration: line-through;
   font-size: 14px;
}

.product-rub {
   margin-left: 5px;
}

.product__button {
   background-color: #b59f5b;
   width: 140px;
   border: none;
   height: 48px;
   margin-top: 7px;
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
}

.product__button:hover {
   background-color: #323232;
}

/* -----------------footer----------------- */

.socials {
   max-width: 1200px;
   margin: 64px auto 40px auto;
}

.link-socials {
   background-color: #f4f7f6;
   margin: 0 15px 75px 15px;
}

.social-list {
   display: flex;
   justify-content: center;
   padding: 11.5px 0;
}

.social-icon {
   display: block;
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center;
   padding: 30px 18px;
   margin-left: 9px;
}

.social-icon-dribbble {
   background-image: url("../svg/001-dribbble.svg");
}

.social-icon-pinterest {
   background-image: url("../svg/002-pinterest.svg");
}

.social-icon-tumblr {
   background-image: url("../svg/003-tumblr.svg");
}

.copyright {
   text-align: center;
   color: #999999;
   font-family: open sans-b, sans-serif;
   font-weight: bold;
   font-size: 12px;
   padding-left: 20px;
}

@media (min-width:1201px) {
   .trend {
      margin-top: 0px;
   }

   .menu__button {
      display: none;
   }
}

@media (max-width: 1200px) {

   html {
      font-size: 55%;
   }

   .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      padding: 47px 0 128px 0;
   }

   .menu {
      margin-left: 34px;
      margin-right: 34px;
   }

   .menu-list {
      display: none;
   }

   .trend {
      width: calc(50% - 2px);
   }

   .trend:nth-of-type(1) {
      margin-top: 0;
   }

   .trend:nth-of-type(2) {
      margin-top: 0;
   }

   .preview {
      flex-wrap: wrap;
   }

   .preview-text {
      margin-left: 0px;
   }

   .preview-teg {
      margin-top: 18px;
   }

   .main {
      width: 100%;
      margin-left: 36px;
      margin-right: 36px;
   }

   .aside {
      margin-right: 36px;
   }

   .shop {
      padding: 0 34px;
   }

   .shop-product {
      max-width: 337px;
   }

   .link-socials {
      margin: 0px 34px 52px;
   }

   .top {
      margin-bottom: 18px;
   }

   .box-img {
      margin-bottom: -15px;
   }

   .preview::after {
      content: '';
      display: block;
      height: 3px;
      margin: 23px auto 0 auto;
      width: 100%;
      background-color: #eeeeee;
   }
}

@media (max-width: 1200px) and (orientation: landscape) {
   .trend {
      width: calc(25% - 2px);
   }

   .trend:nth-of-type(3) {
      margin-top: 0;
   }

   .trend:nth-of-type(4) {
      margin-top: 0;
   }
}

@media (max-width: 640px) {
   html {
      font-size: 50%;
   }

   .feedback-title {
      font-size: 16px;
      padding-top: 26px;
   }

   .feedback-title::after {
      margin: 9px auto 0 auto;
   }

   .select {
      padding-left: 16px;
      background-position: right 14px center;
      height: 44px;
   }

   .form-group__email {
      margin-bottom: 23px;
   }

   .email-text {
      margin-bottom: 7px;
   }

   .radio-group {
      margin-right: 30px;
   }

   .radio-group-text::before {
      width: 25px;
      height: 25px;
      background-size: 25px;
   }

   .textarea-form {
      padding: 15px 20px;
   }

   .popup__close {
      width: 27px;
      height: 27px;
   }

   .header {
      background-image: url("../images/banner-mobile.jpg");
      padding: 32px 0 212px 0;
      margin-bottom: 36px;
   }

   .welcome-title {
      font-size: 26px;
      padding: 34px 40px 0px 40px;
      line-height: 1.4;
   }

   .menu {
      flex-direction: column-reverse;
      align-items: normal;
      margin-left: 14px;
      margin-right: 14px;
   }

   .logo-link {
      display: flex;
      justify-content: center;
      padding-top: 173px;
   }

   .header-logo {
      width: 270px;
   }

   .header-menu {
      display: flex;
      justify-content: flex-end;
   }

   .menu__button {
      font-size: 18px;
   }

   .top {
      margin-bottom: 23px;
   }

   .top::after {
      margin: 9px auto 0 auto;
   }

   .trends {
      margin-bottom: 45px;
   }


   .trend {
      width: 100%;
      min-height: 231px;
   }

   .page-inner {
      flex-wrap: wrap;
   }

   .main {
      margin: 0 17px 0px 15px;
   }

   .text {
      font-size: 14px;
      line-height: 1.3;
   }

   .aside {
      width: 100%;
      flex-shrink: 1;
      margin: 0 17px 0px 15px;
   }

   .new-posts {
      margin-top: 36px;
   }

   .new-post {
      font-size: 16px;
   }

   .new-post::after {
      margin: 8px auto 0 auto;
   }

   .preview:nth-child(n+2) {
      margin-top: 36px;
   }

   .preview-img {
      width: 328px;
   }

   .preview-teg {
      margin-top: 13px;
   }

   .preview-teg-item {
      margin-right: 18px;
   }

   .preview-name {
      margin-bottom: 17px;
   }

   .preview-meta {
      margin-bottom: 15px;
   }

   .user-text {
      margin-left: 9px;
   }

   .new-posts-link {
      line-height: 0.9;
   }

   .subscribe {
      margin-top: 40px;
   }

   .tegs {
      margin-top: 42px;
   }

   .list-tegs-item {
      padding: 4px 9px 4px 9px
   }

   .themes {
      margin-top: 32px;
   }

   .themes-items {
      margin-top: 25px;
   }

   .products {
      margin-top: 44px;
   }

   .shop {
      padding: 0 16px;
   }

   .box-img {
      margin-bottom: 45px;
   }

   .product-body {
      padding: 48px 22px 23px 20px;
   }

   .product-desc {
      line-height: 1.6;
   }

   .product-footer {
      padding-top: 10px;
   }

   .trend:nth-of-type(2) {
      margin-top: 3px;
   }

   .socials {
      margin: 48px auto 40px auto;
   }

   .link-socials {
      margin: 0px 14px 49px;
   }

   .social-list {
      padding: 9px 0;
   }

   .copyright {
      padding-left: 15px;
   }
}

@media (max-width: 640px) and (orientation: landscape) {
   .trend {
      width: calc(50% - 2px);
      margin-top: 3px;
   }

   .trend:nth-of-type(2) {
      margin-top: 0;
   }

   .trend:nth-of-type(3) {
      margin-top: 3px;
   }

   .trend:nth-of-type(4) {
      margin-top: 3px;
   }
}